{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[@/types]",
    "",
    "react",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[.]"
  ],
  "importOrderSeparation": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
